/Week 8/AsteroidsServiceLoader/Asteroid/target/
/Week 8/JavaLab/Common/target/
/Week 8/JavaLab/Core/target/
/Week 8/JavaLab/Enemy/target/
/Week 8/JavaLab/Player/target/
/Week 9/NetBeansLab1/application/target/
/Week 9/NetBeansLab1/branding/target/
/Week 9/NetBeansLab1/Core/target/
/Week 9/NetBeansLab1/Enemy/target/
/Week 9/NetBeansLab1/Player/target/
/Week 9/NetBeansLab1/Common/target/
/Week 10/NetBeansLab1/application/target/
/Week 10/NetBeansLab1/branding/target/
/Week 10/NetBeansLab1/Core/target/
/Week 10/NetBeansLab1/Player/target/
/Week 10/NetBeansLab1/Enemy/target/
/Week 10/NetBeansLab1/SilentUpdate/target/